@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./modules/base-dashboard.css";
@import "./modules/misc.css";

.sidenav-dashboard {
  --tw-translate-x: 0px;
  width: 240px; height: 100%; position: absolute; transition: all 0.3s linear 0s;
  
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}