@layer base {
	h1 {
		@apply text-2xl text-green;
		font-size: calc(1.425rem + 2.1vw);
		font-weight: 900;
		line-height: 1.5;
	}

	h2 {
		@apply text-xl;
		font-size: calc(1.425rem + 1.1vw);
		font-weight: 900;
		line-height: 1.5;
	}

	h3 {
		@apply text-green;
		font-size: calc(1.3rem + 0.6vw);
		font-weight: 900;
		line-height: 1.5;
	}

	h4 {
		@apply text-green;
		font-size: calc(1.075rem + 0.3vw);
		font-weight: 900;
		line-height: 1.5;
	}

	.flex {
		flex-wrap: wrap;
	}

	img {
		max-height: 100%;
	}
}