@media (max-width: 767.98px) {
    #mainNavbar ul.main {
        flex-direction: column;
        height: calc(100vh - 40px - 2 * 0.5rem);
    }
}

html.menu-open {
    height: 100%; 
    margin: 0; 
    overflow: hidden
}