@layer components {
	.btn {
		@apply mt-3 md:mt-12 py-2.5 px-4 text-white rounded-lg focus:outline-none inline-block max-w-45/100;
		font-size: 0.7rem;
		min-width: 150px;
		text-align: center;
		text-transform: uppercase;
		transition-property: color, background-color;
		transition-duration: .2s;
		transition-timing-function: linear;
	}

	@media (max-width: 640px) {
		.btn {
			@apply max-w-full w-full;
		}
	}

	.btn-white {
		@apply btn bg-white text-black;
	}

	.btn-white:hover {
		@apply bg-white/50;
	}

	.btn-outline-white {
		@apply btn bg-transparent border border-white text-white;
	}

	.btn-outline-white:hover {
		@apply bg-white text-black;
	}

	.btn-green {
		@apply btn bg-green text-white;
	}

	.btn-green:hover {
		@apply bg-green/50 text-green;
	}

	.btn-outline-green {
		@apply btn bg-transparent border border-green text-green;
	}

	.btn-outline-green:hover {
		@apply bg-green text-white;
	}

	.btn-pink {
		@apply btn bg-pink text-white;
	}

	.btn-pink:hover {
		@apply bg-pink/50 text-pink;
	}

	.btn-outline-pink {
		@apply btn bg-transparent border border-pink text-pink;
	}

	.btn-outline-pink:hover {
		@apply bg-pink text-white;
	}

	.btn-blue {
		@apply btn bg-blue text-white;
	}

	.btn-blue:hover {
		@apply bg-blue/50 text-blue;
	}

	.btn-outline-blue {
		@apply btn bg-transparent border border-blue text-blue;
	}

	.btn-outline-blue:hover {
		@apply bg-blue text-white;
	}

	.btn-lg { 
		@apply text-lg font-semibold;
	}
	
	.container {
		@apply md:max-w-7xl mx-auto py-6 lg:py-14 max-w-full;
		padding-left: 20px;
		padding-right: 20px;
	}

	input[data-te-select-input-ref] {
		@apply h-14;
	}

	div[data-te-select-form-outline-ref] .right-3 {
		top: 18px;
	}
}

@media (prefers-reduced-motion: no-preference){
	.motion-safe\:hover\:scale-\[1\.01\]:hover{
		--tw-scale-x:1.01;
		--tw-scale-y:1.01;
		transform:translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
	}
}

.filament-body .filament-login-page {
	@apply relative bg-no-repeat;

	background-image: radial-gradient(
		circle at top,
		theme('colors.green'),
		theme('colors.blue') 50%
	);
}
